<div id="image-container-<%= image.id %>" class="image-container">
<a class="layer-over-image" href="#"></a>
<img alt="Move" class="move-uploaded-image hidden" src="/assets/admin/move.png" title="Move Photo" />
<img alt="Lock" class="lock-over-not-allowed-image hidden" src="/assets/admin/lock.png" title="Promote your account!" />
  <div class="background">
    <p> </p>
    <div class="uploaded-image" style="background-image: url(<%= image.image_url %>)"></div>
  </div>
  <span class="action-icon-holder">
    <img alt="Delete" class="delete" src="/assets/admin/bin.png" title="Delete Photo" />
    <img alt="Restore" class="restore hidden" src="/assets/admin/undelete-bd3abe6ffac1fec8d8b7b1857c49e9ee.png" title="Restore Photo" />
    <input id="product_images_attributes_<%= image.id %>__destroy" class="destroy-image-field" name="product[images_attributes][<%= image.position %>][_destroy]" type="hidden" value="false">
    <input id="product_images_attributes_<%= image.id %>_position" name="product[images_attributes][<%= image.position %>][position]" type="hidden" value="<%= image.position %>">
    <input id="product_images_attributes_<%= image.id %>_id" name="product[images_attributes][<%= image.position %>][id]" type="hidden" value="<%= image.id %>">
  </span>
</div>
